<div class="row container">
	<div class="span10 offset2">
		<h1>Editing Qube</h1>
		<br />

		<%= render 'form' %>

		<%= link_to 'Show', @bdcard %> |
		<%= link_to 'Back', bdcards_path %>
	</div>
</div>
