<br />
<br />
<div class="row container color-3">
	<div class="span10 offset2 color-3">
		<br />
		<h1>New Qube</h1>

		<br />
		<%= render 'form' %>

		<%= link_to 'Back', bdcards_path %>
	</div>
</div>
