<div class="row container">
	<div class="span10 offset2">
		<br />
		<h1>New Qube</h1>
				<%= @match.inspect %>

		<br />
		<%= render 'form' %>

		<%= link_to 'Back', bdcards_path %>
	</div>
</div>
