<br />
<br />
<br />
<div class="color-5">
	<div class="container welcome justify">
		<div >
			<br />
			<br />
			<h1>Click on the button to see if any of your friends' birthday is today.</h1>
			<br />
			<br />

			<div class="span4 offset4">
				
				<%= link_to "Show Birthday", {:controller => "users", :action => "show_bday"}, :class => "btn btn-large btn-block btn-success" %>
			</div>
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
</div>