
<br />
<br />
<div class=" color-5">
	<div class="container welcome">
		<br />
		<br />
		<h1>Qube is a web app that lets you create birthday cards for your facebook friends.</h1>
		<br />
		<br />
	</div>
</div>
<br />
<br />
<br />
<br />
<div class="color-5">
	<div class="container welcome">
		<br />
		<br />
		<%= link_to "Log In With Facebook", "auth/facebook", :class => "welcome" %>
		<br />
		<br />
		<br />
	</div>
</div>
